/*!
 * SLON
 * http://slon.og.ua
 */


body {
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  font-size: 14px;
  line-height: 1.5;
}

.brand-wrapper {
	text-align: center;
    padding: 12.5px 0 15px 0;
}

a.brand {
	display: inline-block;
	width: 279px;
	height: 58px;
	background: url('../img/logo_hor.png');
	background-size: 279px 58px;
	text-indent: -999999px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

a {
  color: #db241e;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: #333;
}

a:focus, a:hover {
	color: #333;
}

h1 a:focus, h1 a:hover,
h2 a:focus, h2 a:hover,
h3 a:focus, h3 a:hover,
h4 a:focus, h4 a:hover,
h5 a:focus, h5 a:hover,
h6 a:focus, h6 a:hover {
	color: #db241e;
}

code {
  color: #db241e;
}

.content-page body {
  font-size: 15px;
}

.content-page h1,
.content-page h2,
.content-page h3,
.content-page h4,
.content-page h5,
.content-page h6 {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  line-height: 1.4em;
  padding-top: .4em;
  margin-top: 0;
  margin-bottom: .3em;
}

.content-page h1 code,
.content-page h1 tt,
.content-page h2 code,
.content-page h2 tt,
.content-page h3 code,
.content-page h3 tt,
.content-page h4 code,
.content-page h4 tt,
.content-page h5 code,
.content-page h5 tt,
.content-page h6 code,
.content-page h6 tt {
  font-size: inherit;
}

.content-page h1 i,
.content-page h2 i,
.content-page h3 i,
.content-page h4 i,
.content-page h5 i,
.content-page h6 i {
  font-size: .7em;
}

.content-page h1 p,
.content-page h2 p,
.content-page h3 p,
.content-page h4 p,
.content-page h5 p,
.content-page h6 p {
  margin-top: 0;
}

.content-page h1 {
  font-size: 2.6666666667em;
  color: #000;
}

.content-page h2 {
  font-size: 2em;
  border-bottom: 1px solid #eee;
  color: #000;
}

.content-page h3 {
  font-size: 1.7333333333em;
}

.content-page h4 {
  font-size: 1.4666666667em;
}

.content-page h5 {
  font-size: 1.2em;
}

.content-page h6 {
  font-size: 1.0666666667em;
  color: #555;
}

.content-page a {
  text-decoration: underline;
}

.content-page p {
  line-height: 1.8em;
  margin-bottom: 20px;
}

.content-page ol,
.content-page ul {
  padding-left: 30px;
}

.content-page ul p,
.content-page ul ul {
  margin: 0;
}

.content-page dl {
  padding: 0;
}

.content-page dl dt {
  font-weight: 700;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px;
}

.content-page dl dt:first-child {
  padding: 0;
}

.content-page dl dd {
  margin: 0 0 15px;
  padding: 0 15px;
}

.content-page blockquote {
  font-size: 1.2em;
  border-left: 4px solid #ddd;
  padding: 7px 15px;
  color: #666;
}

.content-page blockquote p {
  font-size: inherit;
}

.content-page table {
  width: 100%;
  padding: 0;
}

.content-page table tr {
  border-top: 1px solid #eee;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.content-page table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.content-page table th {
  font-weight: 700;
  background: #eee;
}

.content-page table td,
.content-page table th {
  border: 1px solid #eee;
  margin: 0;
  padding: 6px 13px;
}

.content-page blockquote>:first-child,
.content-page dl dd>:first-child,
.content-page dl dt>:first-child,
.content-page ol>:first-child,
.content-page table td>:first-child,
.content-page table th>:first-child,
.content-page ul>:first-child {
  margin-top: 0;
}

.content-page blockquote>:last-child,
.content-page dl dd>:last-child,
.content-page dl dt>:last-child,
.content-page ol>:last-child,
.content-page table td>:last-child,
.content-page table th>:last-child,
.content-page ul>:last-child {
  margin-bottom: 0;
}

.content-page img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.content-page code,
.content-page tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: normal;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
  word-wrap: break-word;
}

.content-page pre {
  background: #222;
  color: #fff;
  line-height: 1.5em;
  overflow: auto;
  padding: 20px;
  margin: 0 -20px 20px;
}

.content-page pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
}

.content-page pre code,
.content-page pre tt {
  background-color: transparent;
  border: none;
}

.content-page pre {
  border: none;
  border-radius: 0;
  padding: 10px 30px;
  margin-left: -20px;
  margin-right: -20px;
}

@media (min-width: 1150px) {
  .float-view .content-page {
    height: 100%;
    overflow: auto;
    padding: 0 !important;
    background-color: transparent !important;
    position: relative;
  }
  .float-view .content-page article {
    width: 100%;
    min-height: 100%;
    overflow: auto;
    position: relative;
    z-index: 1;
  }
  .float-view .content-page article:before {
    content: "";
    width: 50%;
    min-height: 100%;
    overflow: auto;
    background-color: #fff;
    display: block;
    margin: 0;
    position: absolute;
    z-index: -1;
  }
  .float-view .content-page table {
    float: left;
    clear: left;
    width: 47%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    background-color: #fff;
    white-space: normal;
  }
  .float-view .content-page table code,
  .float-view .content-page table pre {
    white-space: normal;
  }
  .float-view .content-page .page-header {
    padding: 0;
  }
  .float-view .content-page .page-header,
  .float-view .content-page blockquote,
  .float-view .content-page dl,
  .float-view .content-page h2,
  .float-view .content-page h3,
  .float-view .content-page h4,
  .float-view .content-page h5,
  .float-view .content-page h6,
  .float-view .content-page hr,
  .float-view .content-page ol,
  .float-view .content-page p,
  .float-view .content-page ul {
    float: left;
    clear: left;
    width: 47%;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
  .float-view .content-page .page-header:before,
  .float-view .content-page blockquote:before,
  .float-view .content-page dl:before,
  .float-view .content-page h2:before,
  .float-view .content-page h3:before,
  .float-view .content-page h4:before,
  .float-view .content-page h5:before,
  .float-view .content-page h6:before,
  .float-view .content-page hr:before,
  .float-view .content-page ol:before,
  .float-view .content-page p:before,
  .float-view .content-page ul:before {
    width: 100%;
    height: 10px;
    display: block;
    clear: both;
  }
  .float-view .content-page .page-header dl,
  .float-view .content-page .page-header h2,
  .float-view .content-page .page-header h3,
  .float-view .content-page .page-header h4,
  .float-view .content-page .page-header h5,
  .float-view .content-page .page-header h6,
  .float-view .content-page .page-header hr,
  .float-view .content-page .page-header ol,
  .float-view .content-page .page-header p,
  .float-view .content-page .page-header pre,
  .float-view .content-page .page-header ul,
  .float-view .content-page blockquote dl,
  .float-view .content-page blockquote h2,
  .float-view .content-page blockquote h3,
  .float-view .content-page blockquote h4,
  .float-view .content-page blockquote h5,
  .float-view .content-page blockquote h6,
  .float-view .content-page blockquote hr,
  .float-view .content-page blockquote ol,
  .float-view .content-page blockquote p,
  .float-view .content-page blockquote pre,
  .float-view .content-page blockquote ul,
  .float-view .content-page dl dl,
  .float-view .content-page dl h2,
  .float-view .content-page dl h3,
  .float-view .content-page dl h4,
  .float-view .content-page dl h5,
  .float-view .content-page dl h6,
  .float-view .content-page dl hr,
  .float-view .content-page dl ol,
  .float-view .content-page dl p,
  .float-view .content-page dl pre,
  .float-view .content-page dl ul,
  .float-view .content-page h2 dl,
  .float-view .content-page h2 h2,
  .float-view .content-page h2 h3,
  .float-view .content-page h2 h4,
  .float-view .content-page h2 h5,
  .float-view .content-page h2 h6,
  .float-view .content-page h2 hr,
  .float-view .content-page h2 ol,
  .float-view .content-page h2 p,
  .float-view .content-page h2 pre,
  .float-view .content-page h2 ul,
  .float-view .content-page h3 dl,
  .float-view .content-page h3 h2,
  .float-view .content-page h3 h3,
  .float-view .content-page h3 h4,
  .float-view .content-page h3 h5,
  .float-view .content-page h3 h6,
  .float-view .content-page h3 hr,
  .float-view .content-page h3 ol,
  .float-view .content-page h3 p,
  .float-view .content-page h3 pre,
  .float-view .content-page h3 ul,
  .float-view .content-page h4 dl,
  .float-view .content-page h4 h2,
  .float-view .content-page h4 h3,
  .float-view .content-page h4 h4,
  .float-view .content-page h4 h5,
  .float-view .content-page h4 h6,
  .float-view .content-page h4 hr,
  .float-view .content-page h4 ol,
  .float-view .content-page h4 p,
  .float-view .content-page h4 pre,
  .float-view .content-page h4 ul,
  .float-view .content-page h5 dl,
  .float-view .content-page h5 h2,
  .float-view .content-page h5 h3,
  .float-view .content-page h5 h4,
  .float-view .content-page h5 h5,
  .float-view .content-page h5 h6,
  .float-view .content-page h5 hr,
  .float-view .content-page h5 ol,
  .float-view .content-page h5 p,
  .float-view .content-page h5 pre,
  .float-view .content-page h5 ul,
  .float-view .content-page h6 dl,
  .float-view .content-page h6 h2,
  .float-view .content-page h6 h3,
  .float-view .content-page h6 h4,
  .float-view .content-page h6 h5,
  .float-view .content-page h6 h6,
  .float-view .content-page h6 hr,
  .float-view .content-page h6 ol,
  .float-view .content-page h6 p,
  .float-view .content-page h6 pre,
  .float-view .content-page h6 ul,
  .float-view .content-page hr dl,
  .float-view .content-page hr h2,
  .float-view .content-page hr h3,
  .float-view .content-page hr h4,
  .float-view .content-page hr h5,
  .float-view .content-page hr h6,
  .float-view .content-page hr hr,
  .float-view .content-page hr ol,
  .float-view .content-page hr p,
  .float-view .content-page hr pre,
  .float-view .content-page hr ul,
  .float-view .content-page ol dl,
  .float-view .content-page ol h2,
  .float-view .content-page ol h3,
  .float-view .content-page ol h4,
  .float-view .content-page ol h5,
  .float-view .content-page ol h6,
  .float-view .content-page ol hr,
  .float-view .content-page ol ol,
  .float-view .content-page ol p,
  .float-view .content-page ol pre,
  .float-view .content-page ol ul,
  .float-view .content-page p dl,
  .float-view .content-page p h2,
  .float-view .content-page p h3,
  .float-view .content-page p h4,
  .float-view .content-page p h5,
  .float-view .content-page p h6,
  .float-view .content-page p hr,
  .float-view .content-page p ol,
  .float-view .content-page p p,
  .float-view .content-page p pre,
  .float-view .content-page p ul,
  .float-view .content-page ul dl,
  .float-view .content-page ul h2,
  .float-view .content-page ul h3,
  .float-view .content-page ul h4,
  .float-view .content-page ul h5,
  .float-view .content-page ul h6,
  .float-view .content-page ul hr,
  .float-view .content-page ul ol,
  .float-view .content-page ul p,
  .float-view .content-page ul pre,
  .float-view .content-page ul ul {
    float: none;
    display: block;
  }
  .float-view .content-page hr {
    border-color: #ddd;
  }
  .float-view .content-page blockquote p,
  .float-view .content-page blockquote pre,
  .float-view .content-page li p,
  .float-view .content-page li pre {
    width: 100%;
  }
  .float-view .content-page ol li,
  .float-view .content-page ul li {
    margin-left: 30px;
  }
  .float-view .content-page pre {
    float: left;
    clear: right;
    width: 50%;
    border: none;
    border-left: 10px solid #fff;
    margin: 0 0 10px;
    padding: 0;
  }
  .float-view .content-page pre code {
    padding: 0 .5em;
  }
}

.homepage-hero {
  padding-top: 60px !important;
  background-color: #ebebeb;
  box-shadow: none;
  border-radius: 0;
  border: none;
  color: #333;
  overflow: hidden;
  padding-bottom: 0;
  margin-bottom: 0;
}

.homepage-hero .text-center {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin: 10px 0;
}

.homepage-hero h2 {
  margin: 20px 0;
}

.hero-buttons.container-fluid {
  padding: 20px 0;
  background-color: #db211b;
}

.hero-buttons.container-fluid .btn-hero.btn {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding: 20px 30px;
  background-image: none;
  -webkit-filter: none;
  filter: none;
  box-shadow: none;
  border-radius: 0;
  text-shadow: none;
  border: none;
  opacity: .8;
  filter: alpha(opacity=80);
  margin: 0 10px;
  text-transform: uppercase;
  border: 5px solid #db211b;
}

@media (max-width: 768px) {
  .hero-buttons.container-fluid .btn-hero.btn {
    display: block;
    margin-bottom: 10px;
  }
}

.hero-buttons.container-fluid .btn-hero.btn:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.hero-buttons.container-fluid .btn-hero.btn.btn-secondary {
  background-color: #eee;
  color: #db211b;
}

.hero-buttons.container-fluid .btn-hero.btn.btn-primary {
  background-color: #db211b;
  color: #ebebeb;
}

.homepage-content.container-fluid {
  background-color: #fff;
  padding: 40px 0;
}

.homepage-content.container-fluid .lead {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.homepage-content.container-fluid ol,
.homepage-content.container-fluid ul {
  padding: 20px 0;
  margin: 0 0 10px;
}

.homepage-content.container-fluid ol li,
.homepage-content.container-fluid ul li {
  list-style: none;
  padding-bottom: 5px;
}

.homepage-content.container-fluid ol li:before,
.homepage-content.container-fluid ul li:before {
  content: '';
  width: 0;
  height: 0;
  border: 3px solid transparent;
  border-left: 3px solid #db211b;
  float: left;
  display: block;
  margin: 6px;
}

@media (max-width: 768px) {
  .homepage-content.container-fluid {
    padding: 40px 20px;
  }
}

.homepage-footer.container-fluid {
  background-color: #333;
  box-shadow: none;
  border-radius: 0;
  color: light;
  border: none;
}

@media (max-width: 768px) {
  .homepage-footer.container-fluid {
    padding: 0 20px;
  }
}

.homepage-footer.container-fluid .footer-nav {
  margin: 40px 0;
}

.homepage-footer.container-fluid .footer-nav li a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
}

.homepage-footer.container-fluid .footer-nav li a:hover {
  color: #fff;
  text-decoration: underline;
}

.homepage-footer.container-fluid .twitter {
  margin-top: 20px;
}

.homepage-footer.container-fluid .twitter:first-child {
  margin-top: 40px;
}

body,
html {
  height: 100%;
  background-color: #fff;
  color: #2d2d2d;
}

.columns .left-column {
  background-color: #ebebeb;
}

.columns .right-column .content-page {
  padding: 10px;
  background-color: #fff;
}

.container-fluid .navbar-static-top {
  margin-left: -15px;
  margin-right: -15px;
}

.responsive-collapse {
  padding: 10px 15px;
  display: block;
  background-color: #eee;
  border-bottom: 1px solid #eee;
}

.sub-nav-collapse {
  display: none;
}

.article-tree,
.content-area {
  padding: 0;
}

@media screen and (min-width: 768px) {
  body {
    background-color: #FFF;
  }
  .navbar-static-top {
    position: fixed;
    z-index: 1030;
    width: 100%;
  }
  .responsive-collapse {
    display: none;
  }
  .sub-nav-collapse {
    display: block !important;
  }
  .container-fluid.fluid-height {
    height: 100%;
  }
  .article-tree,
  .content-area {
    overflow: auto;
    height: 100%;
  }
  .columns {
    height: 100%;
  }
  .columns .left-column {
    border-right: none;
	-webkit-box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:    2px 0px 4px 0px rgba(0, 0, 0, 0.25);
	box-shadow:         2px 0px 4px 0px rgba(0, 0, 0, 0.25);
    overflow-x: hidden;
	z-index: 1031;
  }
  .columns .right-column .content-page {
    padding: 50px;
    min-height: 100%;
  }
  .brand-wrapper {
    padding: 25px 0 30px 0;
   }

	a.brand {
		background: url('../img/logo.png');
		width: 108px;
		height: 108px;
		background-size: 108px 108px;
	}
}

@media print {
  .content-area {
    width: 100% !important;
  }
  h1 a[href]:after {
    font-size: 50%;
  }
}

.btn {
  display: inline-block;
}

.btn.btn-sidebar {
  padding: 7px 10px;
  background-image: none;
  -webkit-filter: none;
  filter: none;
  box-shadow: none;
  background-color: #eee;
  border: none;
}

.btn.btn-sidebar .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  margin-top: 2px;
  margin-bottom: 3px;
}

.btn.btn-sidebar .icon-bar,
.btn.btn-sidebar:hover {
  background-color: #db211b;
  box-shadow: none;
}

.btn.btn-sidebar:hover .icon-bar {
  background-color: #fff;
  box-shadow: none;
}

.navbar {
  box-shadow: none;
  background-color: #f6f6f6;
  margin-bottom: 0;
}

.navbar .container,
.navbar .container-fluid {
  background-image: none;
  -webkit-filter: none;
  filter: none;
  border-bottom: none;
  padding: 0 20px;
}


.navbar .container-fluid .navbar-text,
.navbar .container-fluid .navbar-text a,
.navbar .container .navbar-text,
.navbar .container .navbar-text a {
  color: #db211b;
}

.code-buttons-text {
  font-size: 12px;
  line-height: 1.5;
  padding: 6px 10px 6px 0;
  display: inline-block;
  vertical-align: middle;
}

.nav.nav-list {
  padding-left: 0;
  padding-right: 0;
}

.nav.nav-list li a {
  margin: 0;
  padding: 6px 15px 6px 20px;
 font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #333;
  font-size: 15px;
  text-shadow: none;
  border-color: #eee;
}

.nav.nav-list li a .arrow {
  display: inline-block;
  position: relative;
  width: 16px;
  margin-left: -16px;
}

.nav.nav-list li a .arrow:before {
  position: absolute;
  display: block;
  content: "";
  margin: -.35em 0 0 -.4em;
  left: 50%;
  top: 50%;
  width: .5em;
  height: .5em;
  border-right: .15em solid #db211b;
  border-top: .15em solid #db211b;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

.nav.nav-list li a:hover {
  color: #db211b;
  background-color: transparent;
  text-shadow: none;
}

.nav.nav-list li.active a {
  background-color:transparent;
  font-weight: bold;
}

.nav.nav-list li.open>ul {
  display: block;
}

.nav.nav-list li.open>a,
.nav.nav-list li.open>a:focus,
.nav.nav-list li.open>a:hover {
	background-color: #fff;
	font-weight: bold;
}

.nav.nav-list li.open>a>.arrow:before {
  margin-left: -.25em;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.nav.nav-list li ul {
  display: none;
  margin-left: 15px;
}

.nav.nav-list li ul li a {
  font-weight: 400;
  font-size: 14px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 20px;
  margin: 0;
  margin-left: -15px;
  padding: 3px 30px;
  border: none;
  color: #333;
}

.nav.nav-list li ul li a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  background-color: transparent;
}

.nav.nav-list li ul li.active a {
  color: #333;
}

.page-header {
  margin: 10px 0;
  padding: 0;
}

.page-header h1 {
  margin: 0;
  padding: 0;
}

.page-header a {
  text-decoration: none;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 15px;
}

.github-ribbon {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 200;
}

.sidebar-links {
  padding: 20px;
}

.sidebar-links a {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #db211b;
  line-height: 28px;
}

.sidebar-links hr {
	border-color: #fff;
}

.sidebar-links .twitter hr {
  border-bottom: none;
  margin-left: -20px;
  margin-right: -20px;
}

.search {
  position: relative;
}

.search__field {
  padding-right: 30px;
}

.search__icon {
  position: absolute;
  right: 12px;
  top: 10px;
}

.TableOfContents {
  font-size: 16px;
  padding-left: 30px;
  border-left: 6px solid #efefef;
}

.TableOfContents p {
  margin-bottom: 0;
}

.TableOfContents .TableOfContents {
  border-left-width: 0;
  padding-left: 20px;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: .5em;
  background: #222;
  color: #fff;
}

.hljs-comment,
.hljs-quote {
  color: #777;
}

.hljs-built_in,
.hljs-builtin-name,
.hljs-bullet,
.hljs-deletion,
.hljs-link,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-params,
.hljs-regexp,
.hljs-symbol,
.hljs-tag,
.hljs-template-variable,
.hljs-variable {
  color: #ab875d;
}

.hljs-attribute,
.hljs-name,
.hljs-section,
.hljs-selector-class,
.hljs-selector-id,
.hljs-title,
.hljs-type {
  color: #9b869b;
}

.hljs-addition,
.hljs-keyword,
.hljs-selector-tag,
.hljs-string {
  color: #8f9c6c;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 700;
}