html, body {margin:0;padding:0;width:100%;height:100%; background-color: #ffffff}

a {color: #0000ff; text-decoration: none}
a:hover {text-decoration: underline}

.b {font-weight: bold}

.menu {font: bold 18px Tahoma, Arial, Verdana, Geneva, Helvetica, sans-serif; text-decoration: none; color: #b3a386}
.menu:hover {text-decoration: underline}
.amenu {font: bold 18px Tahoma, Arial, Verdana, Geneva, Helvetica, sans-serif; text-decoration: none; color: #695d47}

.button {font: 12px Verdana, arial, helvetica, sans-serif; background-color: #384d0a; color: #ffffff; border-color: #384d0a}
.button2 {font: 12px Verdana, arial, helvetica, sans-serif; background-color: #7a136f; color: #ffffff; border-color: #384d0a}
.button3 {font: 12px Verdana, arial, helvetica, sans-serif; background-color: #04137d; color: #ffffff; border-color: #384d0a}
.button4 {font: 12px Verdana, arial, helvetica, sans-serif; background-color: #aa0000; color: #ffffff; border-color: #384d0a}
.button5 {font: 12px Verdana, arial, helvetica, sans-serif; background-color: #211cee; color: #ffffff; border-color: #384d0a}

.error {color: #ff0000; font: bold italic 11px Verdana, Geneva, Arial, Helvetica, sans-serif; text-decoration: none}
.tableborder {border: 1px solid #bebebe}

.copyright {color: #797979; font: 14px Tahoma, Verdana, Arial, Geneva, Helvetica, sans-serif; text-decoration: none; padding-right: 20px}
.footer_menu {color: #ffffff; font: bold 20px Arial, Tahoma, Verdana, Geneva, Helvetica, sans-serif; text-decoration: none;}
.footer_menu:hover {color: #0c314e; text-decoration: none}

.build {color: #cccccc; font: 11px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; text-decoration: none}
.navy {font: 10px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; color: #0500cf; text-decoration: none}
.navy:hover {color: #800000}
.activeNavy {font: bold 12px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; color: #800000}
.fNavy {font: 12px Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif; color: #6f6645; text-decoration: none}
.fNavy:hover {color: #898b8c}
.aNavy {font: 12px Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif; color: #ffffff}

.CmsHeader {font: bold 11px Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif; color: #505050; text-decoration: none}
.CmsMainText {font: 11px Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif; color: #505050; text-decoration: none}
.CmsMainTextMini {font: 10px Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif; color: #505050; text-decoration: none}
.CmsMainHeader{font: bold 20px Tahoma, Helvetica, Verdana, Geneva, Arial, sans-serif; color: #6c614b; text-decoration: none}
.SectionHeader {font: 24px Helvetica, Arial, Tahoma, Times, Verdana, Geneva, sans-serif; color: #0b4990; text-decoration: none}

.header_phone {font: bold 22px sans-serif, Tahoma, Verdana, Helvetica, Geneva, Arial, sans-serif; color: #ffffff; text-decoration: none}

fieldset legend {font: 10px Verdana, arial, helvetica, sans-serif; color: #029fc1}

.dict_input_hide {border: 0px; width: 310px}
.dict_input {border: 1px solid #bebebe; width: 310px}

th {text-align: center}

textarea, input {
	font: 12px Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif; 
	color: #000000; 
	text-decoration: none
}

.h2 {
	font: bold 16px Tahoma, Helvetica, Verdana, Geneva, Arial, sans-serif;
	color: #6c614b;
	text-decoration: none;
	margin-left: 5px;
	margin-bottom: 5px;
}
#search_block {
	width: 1000px;
	border: 1px solid black;
	padding: 2px 2px 4px 2px;
	background-color: #ffffff;
	z-index: 100;
	font-size: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	overflow-x: auto;
	overflow-y: auto;
	text-align: left;
}

#tmode_desc {font: 12px Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif; color: #000000; text-decoration: none}

#dhtmltooltip2 {
	position: absolute;
	border: 1px solid black;
	padding: 5px;
	background-color: #acfff6;
	visibility: hidden;
	z-index: 100;
	font: 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}